<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Косметика</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>

<div th:insert="fragments/header :: mainheader"></div>
<div th:class="Mydiv">
<h1>Вся косметика</h1>
<a class="btn btn-primary MyButton" href="/beauty/filter">Поиск косметики</a>
<a class="btn btn-primary MyButton" href="/beauty/add">Добавить косметику</a>
</div>
<div th:align="center" th:each="el : ${beauty}">
    <h3 th:align="center" th:text="${el.nazvanie}"></h3>
    <p th:align="center" th:text="${el.sostav}"></p>
    <p th:align="center" th:text="${el.kolwo}"></p>
    <a th:align="center" class="btn btn-primary" th:href="'/beauty/' + ${el.id}">Подробнее</a>
</div>
</body>
</html>