<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>

<div th:insert="fragments/header :: mainheader"></div>

<h2>Поиск</h2>
<form method="post" th:action="${'/clothes/filter/result'}">
    <input type="text" name="nazvanie">
    <button type="submit">Найти</button>
    <div th:each="el : ${result}">
        <h3 th:text="${el.nazvanie}"></h3>
        <p th:text="${el.typeClothes}"></p>
        <p th:text="${el.tkan}"></p>
        <strong th:text="${el.size}"></strong>
    </div>
</form>
</body>
</html>