<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>О нас</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<h1 th:class="Mydiv">Замечательный магазин КивТёрочка</h1>
<div th:class="Mydiv">Здесь есть все что вам надо</div>
<div th:class="Mydiv">1) Телефоны </div>
<div th:class="Mydiv">2) Фрукты </div>
<div th:class="Mydiv">3) Одежда </div>
<div th:class="Mydiv">4) Косметика и здоровье </div>
<h2 th:class="Mydiv">БЕГОМ СМОТРЕТЬ ТОВАРЫ!</h2>
<div th:class="Mydiv"><a class="btn btn-primary MyButton" href="/">Назад</a></div>
</body>
</html>