<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
<head>
  <title>Spring Security Example </title>
</head>
<body>
<h1><b><center>Авторизация</center></b></h1>
<div th:if="${param.error}">
    <center>
  Неверные имя пользователя и пароль.
    </center>
</div>
<div th:if="${param.logout}">
    <center>
  Вы вышли из системы.
    </center>
</div>
<form th:action="@{/login}" th:align="center" method="post">
  <div><label> Логин : <input type="text" name="username"/> </label></div>
  <div><label> Пароль: <input type="password" name="password"/> </label></div>
  <div><input type="submit" value="Войти"/></div>
</form>
<a href="/registration"><center>Регистрация</center></a>
</body>
</html>