<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>КивТёрочка</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
</head>
<body th:align="center">

<div th:insert="fragments/header :: mainheader"></div>
<div class="Mydiv">
<h1>Добро пожаловать в КивТёрочку</h1>
<h2>Лучший магазин в городе!</h2>
<a class="btn btn-primary MyButton" href="/info/">О нас</a>
<a class="btn btn-primary MyButton" href="/user/">Все пользователи</a>
</div>

</body>
</html>