<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>

<div th:insert="fragments/header :: mainheader"></div>

<div th:object="${mobile}" th:each="el:${mobile}">
    <form method="post">
        <input type="text" th:value="${el.modelsTel}" name="modelsTel" placeholder="Введите модель телефона">
        <div style="color: red " th:if="${#fields.hasErrors('modelsTel')}" th:errors="*{modelsTel}"></div>
        <input type="text" th:value="${el.number}" name="number" placeholder="Введите номер телефона">
        <div style="color: red " th:if="${#fields.hasErrors('number')}" th:errors="*{number}"></div>
        <input type="text" th:value="${el.memory}" name="memory" placeholder="Введите память телефона">
        <div style="color: red " th:if="${#fields.hasErrors('memory')}" th:errors="*{memory}"></div>
        <input type="text" th:value="${el.memoryGB}" name="memoryGB" placeholder="Введите оперативную память">
        <div style="color: red " th:if="${#fields.hasErrors('memoryGB')}" th:errors="*{memoryGB}"></div>
        <input type="text" th:value="${el.operator}" name="operator" placeholder="Введите оператора">
        <div style="color: red " th:if="${#fields.hasErrors('operator')}" th:errors="*{operator}"></div>
        <br>
        <button type="submit">Сохранить изменения</button>
    </form>
</div>
</body>
</html>