<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавление нового телефона</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>

<div th:insert="fragments/header :: mainheader"></div>

<form th:object="${mobile}" th:action="${'/mobile/add'}" method="post">
    <input th:field="*{modelsTel}" type="text" name="modelsTel" placeholder="Введите модель телефона">
     <div style="color: red " th:if="${#fields.hasErrors('modelsTel')}" th:errors="*{modelsTel}"></div>
    <input th:field="*{number}" type="text" name="number" placeholder="Введите номер телефона">
     <div style="color: red " th:if="${#fields.hasErrors('number')}" th:errors="*{number}"></div>
    <input th:field="*{memory}" type="text" name="memory" placeholder="Введите кол-во памяти">
     <div style="color: red " th:if="${#fields.hasErrors('memory')}" th:errors="*{memory}"></div>
    <input th:field="*{memoryGB}" type="text" name="memoryGB" placeholder="Введите кол-во оперативной памяти">
     <div style="color: red " th:if="${#fields.hasErrors('memoryGB')}" th:errors="*{memoryGB}"></div>
    <input th:field="*{operator}" type="text" name="operator" placeholder="Введите имя оператора">
     <div style="color: red " th:if="${#fields.hasErrors('operator')}" th:errors="*{operator}"></div>
    <br>
    <button type="submit">Добавить телефон</button>
</form>
</body>
</html>