<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
</head>
<body>

<div th:insert="fragments/header :: mainheader"></div>

<div th:each="el : ${mobile}">
    <h3>Подробнее про телефон: </h3> <h3 th:text="${el.modelsTel}"></h3>
    <p th:text="${el.number}"></p>
    <p th:text="${el.operator}"></p>
    <p th:text="${el.memory}"></p>
    <p th:text="${el.memoryGB}"></p>
    <form th:action="'/mobile/' + ${el.id} + '/remove'" method="post">
        <button type="submit" class="btn btn-del">Удалить</button>
    </form>

    <form th:action="'/mobile/' + ${el.id} + '/edit'" method="get">
        <button type="submit" class="btn btn-del">Изменить</button>
    </form>

</div>
</body>
</html>